<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcc.mapper.AbilityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gcc.pojo.Ability">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="user_id" property="userId" />
        <result column="ability" property="ability" />
        <result column="ability_list" property="abilityList" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, user_id, ability, ability_list
    </sql>

</mapper>
